/* Variables */

:root{
    --type: #333;
    --green: #00ff00;
}

/* Body */

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    margin: 2rem;
}

/* Type */

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;

    color: var(--type);
}