/* Variables */

:root{
    --type: #333;
    --almost-red: #d82f1f;
}

/* Body */

*{
    margin: 0;
}

html{
    font-size: 62.5%; /* 10px */
}

body{
    margin: 2rem;
}

.content{
    width: calc(66vw - 4rem);
    position: fixed;
    bottom: 2rem;
    left: 2rem;

    background-color: rgb(0, 255, 0);
    mix-blend-mode: multiply;
}

/* Type */

h1{
    font-weight: bold;
    font-size: calc(100vh - 4rem);

    color: var(--type);

    position: fixed;
    pointer-events: none;
    white-space: nowrap;
}

h2{
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;

    color: var(--type);
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.5rem;
    
    color: var(--type);
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding: 0;
}