/* Variables */

:root{
    --type: #000;
    --green: #00ff00;
}

/* Body */

*{
    margin: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%; 10px
} */

body{
    margin: 0;
}

/* Type */

